<h1>Lookup a request log</h1>

<% if alert = flash[:alert] %><p style="color: red"><%= alert %></p><% end %>
<div class='fiters' style="display: flex;margin-bottom: 20px;align-items: center;justify-content: center;">
  <div class="left" style="max-width: 50%;margin-right: 50px;">
    <%= form_with url: rails_conductor_request_logs_path do |form| %>
      <p>Copy the X-Request-Id header and paste it in:</p>
      <%= form.text_field :id, size: 40, placeholder: "0540689b-1ec6-4b92-ae8e-1c55bf7c3b79" %>
      <%= form.submit "Retrieve" %>
    <% end %>
  </div>
  <div class='right' style="max-width: 50%;">
    <%= form_with url: rails_conductor_request_logs_path, method: 'GET' do |form| %>
      <p>Search by log text: </p>
      <%= form.search_field :query, size: 40, placeholder: "Log text to search", autofocus: true, value: params[:query] %>
      <%= form.submit "Filter" %>
    <% end %>
  </div>
</div>

<% if @logs.present? %>
  <table style="width: 100%">
    <colgroup>
      <col span="1" style="width: 15%;">
       <col span="1" style="width: 70%;">
       <col span="1" style="width: 15%;">
    </colgroup>
    <thead>
      <tr>
        <td>Request Id</td>
        <td>Truncated Log</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @logs.each do |log| %>
        <tr>
          <td style="width: 20%;"><%= log.request_id %></td>
          <td style="width: 70%;">
            <pre><%= log.body %></pre>
          </td>
          <td style="width: 10%;">
            <%= link_to "View Detail", rails_conductor_request_log_path(log.request_id) %> &nbsp;
            <%= link_to "Download", rails_conductor_request_log_path(log.request_id, format: :text) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="pagination">
    <%= will_paginate @logs %>
  </div>
<% else %>
  <p>No Logs found</p>
<% end %>

<style>
  .pagination {
     text-align: center;
     padding: 0;
     margin: 0 0 10px;
  }
  .pagination li {
     display: inline-block;
     list-style: none;
     padding: 10px 15px;
     cursor: pointer;
  }
  .pagination li.active {
     background: #003580;
     color: white;
  }

  pre {
    display: flex;
    white-space: normal;
    word-break: break-word;
    height: 100px;
    overflow: scroll;
    background: black;
    color: white;
    padding: 5px;
  }
</style>
